<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<configSections>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=LAPTOP-CG8J6ADN\SQLEXPRESS;Initial Catalog=SUPERMERCADO;Integrated Security=True; TrustServerCertificate=True" />
    <add name="supermecadoelectronico.Properties.Settings.SUPERMERCADOConnectionString"
      connectionString="Data Source=LAPTOP-CG8J6ADN\SQLEXPRESS;Initial Catalog=SUPERMERCADO;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>